.App {
  border:10px solid grey;
  height:90vh;
}
h1{
  text-align: center;
}
.container{
  border:10px solid grey;
  max-width: 700px;
  margin:auto;
  width:45vh;
  height:50vh;  
}

label{
 font-size: 20px;
 margin-left:10vh;
  padding:10vh;
  margin: top 20vh;
}
.form{
  margin-top: 5vh;
}
.formControl{
  text-align: center;
  margin-left: 10vh;
}

.btn{
  margin-left: 17vh;
  font-size: 15px;
}